

* {
    color: white;
    background-color: transparent;
    font-family: 'Reddit Mono';
    text-align: center;

    text-shadow: black 5px 5px 3px;
}

body {
    background-color: #201c34;
}

.Title {
    width: fit-content;
    border: 0.125em solid;
    padding: 0.5em 0.5em;

    box-shadow: black 5px 5px 3px;
    background-color: transparent;
    user-select: none;
    
    margin-top: 100px;
    margin-bottom: 100px;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.2s;
}

.AlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}



.Array {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    text-align: left;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}