

* {
    color: white;
    background-color: transparent;
    font-family: 'Reddit Mono';
    text-align: center;

    text-shadow: black 5px 5px 3px;
}

body {
    background-color: #201c34;
}

.Title {
    width: fit-content;
    border: 0.125em solid;
    padding: 0.5em 0.5em;

    box-shadow: black 5px 5px 3px;
    background-color: transparent;
    user-select: none;
}

.AlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: fit-content;
    border: 0.125em solid;
    padding: 0.5em 0.5em;

    box-shadow: black 5px 5px 3px;
    background-color: #201c34;
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.2s;
}

button:hover {
    padding-top: -0.5em;
    padding: 1em 1em;
    background-color: #352e56;

    cursor: grab;
}